.footer_flex{
    display: flex;
    justify-content: space-between;
    max-width: 100px;
    margin: auto;

   
}
.pp1{
    font-style: italic;
    color: black;
}
.footer{
    padding: 10px;
    background-color: cadetblue;
   
}